<!-- <div class="container">
  <h2>Product Details</h2>
  <p>ProductId : {{productId}}</p>
  <p>Description : {{description}}</p>
  <p>available : {{available}}</p>
  <p><input type="text" name="orderqty" id="" [(ngModel)]="orderqty" #inputqty>{{orderqty}}</p>
  <p>Ordered Qty available: <span *ngif isorderedQtyAvailable = ></span></p>
  <p>Delivery:
    <span [style.background-color]="deliverColour"> 
      &nbsp;&nbsp;&nbsp;&nbsp;
    </span>
  </p>

  <p>
    <button name="placeOrder" (click)="printOrder(inputqty.value)">PlaceHolder</button>
  </p>

  <div [ngSwitch]="res">
    <span *ngSwitchCase="'full'">Full available</span>
    <span *ngSwitchCase="'exact'">exact</span>
    <span *ngSwitchCase="'not'">not</span>
  </div>

  {{orderDate | date:"dd/MMMM/yyyy hh:mm:ss"}}

  <div *ngFor="let product of products; index as i; even as isEven">
    <span *ngIf="isEven; else odd" [style.background-color]="'cyan'">
      {{i}}
      {{product.productId}}
    {{product.description}}
    {{product.price}}
    </span>
    
    <ng-template #odd>
      {{i}}
      {{product.productId}}
    {{product.description}}
    {{product.price}}
    </ng-template>
  </div>
</div> -->

<body class="d-flex flex-column vh-100"> 
  <main class="container mt-5">
    <div style="border: 2px solid green;">
      <app-color></app-color>
    </div>
    
    <!-- <app-data></app-data> -->
     <!-- <app-reactive></app-reactive> -->
      <!-- <app-formbuilder></app-formbuilder> -->
  </main>
</body>